
Hotel/obj/Debug/Hotel.csproj.AssemblyReference.cache
Hotel/obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/Hotel/v17/.suo
.vs/Hotel/FileContentIndex/4d7998c3-dd1f-4cc1-8f8b-9f280c6c35d7.vsidx
Hotel/obj/Debug/Hotel.csproj.AssemblyReference.cache
Hotel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Hotel/obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/Hotel/FileContentIndex/b71babbd-26df-44b6-ac8f-a55d501c6513.vsidx
